@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--primary-color: #012622;
	--secondary-color: #328e6e;
	--accent-color: #ff8966;
    --pop-color: #222222;
	--text-main: #f5f5f5;
	--text-sub: #aaaaaa;
}

html {
	background-color: var(--primary-color);
    scroll-behavior: smooth;
}

* {
	font-family: "poppins";
}

section {
	margin: 0;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0;
	padding-top: 0;
}

.header .logo {
	font-size: 3rem;
	font-family: "Bebas Neue";
	margin: 0;
	padding: 0;
	cursor: default;
	color: var(--text-main);
    transition: all 0.3s ease;
}

.header .logo:hover {
    transform: scale(1.1);
    color: var(--accent-color);
}

.header ul {
	display: flex;
	flex-direction: row;
}

.header li {
	color: var(--text-sub);
	list-style: none;
	padding-right: 1.5rem;
	font-size: 1rem;
    transition: all 0.3s ease;
}

.header a {
	color: inherit;
	text-decoration: none;
}

.header li:hover {
	color: var(--accent-color);
    transform: scale(1.05);
}

.bento-div {
	display: flex;
    justify-content: space-between;
    gap: 2rem;
	height: 90vh;
}

.bento-div .title {
	margin: 0;
	padding-left: 2rem;
	font-family: "DM Serif Text";
	font-size: 8rem;
	color: var(--text-main);
    transition: all 0.3s ease;
    cursor: default;
}

.bento-div .sub-title, .percent {
	margin: 0;
	padding-left: 2rem;
	font-family: "DM Serif Text";
	font-size: 4rem;
	color: var(--text-main);
    transition: all 0.3s ease;
    cursor: default;
}

.percent {
    margin: 0;
    padding: 0;
}

.div2:hover .percent{
    color: var(--pop-color);
}

.div2:hover .title{
    color: var(--pop-color);
}

.div1:hover .title{
    color: var(--pop-color);
}

.div1,
.div2 {
	padding: 1rem;
	background-color: var(--secondary-color);
	border-radius: 1rem;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: column;
    width: calc((100% / 2) - 3rem);
}

.div1:hover,
.div2:hover {
	transform: scale(1.02);
	background-color: var(--accent-color);
}

.photos-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    justify-content: space-between;
}

.div2 .photos-grid {
    margin-top: 3rem;
}

.photo {
    width: calc((100% / 3) - 1.5rem );
	border-radius: 0.5rem;
	overflow: hidden;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease;
}

.photo:hover {
    transform: scale(1.03);
}

.photo img {
	width: 90%;
	height: 100%;
	object-fit: cover;
    border-radius: 1rem;
}

.section-title {
    font-family: "DM Serif Text";
    font-size: 6rem;
    margin: 0;
    padding: 0;
    color: var(--text-main);
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.item {
    width: calc((100% - 10rem) / 4);
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}

.item:hover {
    background-color: var(--accent-color);
    transform: scale(1.04);
}

.item:hover .buy {
    background-color: var(--secondary-color);
}

.item img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.name {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    color: var(--text-main);
}

.price {
    margin: 0;
    margin-top: 1rem;
    color: var(--text-main);
}

.size {
    margin: 0;
    color: var(--text-main);
}

.availabilty {
    color: mediumaquamarine;
    margin: 0;
}

.btns {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.btns p {
    text-align: center;
    height: 3rem;
    border-radius: 0.5rem;
    width: 50%;
    line-height: 3rem;
    margin-bottom: 0;
    transition: all 0.3s ease;
}

.buy {
    background-color: var(--accent-color);
}

.cart {
    border: 2px solid var(--text-main);
}

.footer {
    color: var(--text-main);
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}